// 基礎設定
@import "./var";
@import "./reset";



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: '微軟正黑體';
    line-height: 1.6;
}

//按鈕
button{
    width: 120px;
    height: 30px;
    margin: 0 auto;
    background-color: #306198;
    color: #fff;
    border: 0px;
    font-size: map-get($FontSize, h6);
    cursor: pointer;
    &:hover {
        opacity: 0.6;
    }
}



header.container__header{
    position: relative;
    width: 100%;
    height: 300px;
    margin: auto;
    text-align: center;
    border-bottom: solid 1px #fff;
    background: linear-gradient(to top, #dbe0df, #306198 100%);
    h4.comeback,h4.check{
        text-align: right;
        font-size: map-get($FontSize, h4);
        padding: 10px;
        a{
            text-decoration: none;
            color: #fff;
        }
        i.fa-arrow-up-right-from-square,i.fa-bookmark{
            padding: 5px;
        }
    }
    .header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        border: solid 2px #fff;
        padding: 30px 50px;
        letter-spacing: 3px;
        color: #fff;
        width: 60%;
    }
    .header__title {
        font-size: map-get($FontSize, h3);
    }
}

nav.btnNav{
    padding: 20px;

    div.search{
        text-align: end;
        i.fa-magnifying-glass{
            display: inline-block;
            padding: 5px;
        }
    }
    
}



main.viewpoint{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

section.col{
    border: 1px solid rgb(173, 173, 173);
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 3px;
}

figure.viewpointCard{
    width: 400px;

    .picCard {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    figcaption.card-body{
        padding: 10px;

        input{
            width: 16px;
            height: 16px;
        }

        h4.card-title{
            display:inline-block;
            font-size: map-get($FontSize, h4);

        }

        h4.card-distric{
            margin-bottom: 10px;

            i.fa-location-dot{
                margin-right: 5px;
            }
        }
        h5.card-tel{
            margin-bottom: 10px;
        }
        p.intro{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}




//我的最愛列表
nav.removeNav{
    padding: 20px;
    #btnRemove{
        display: block;
    }
}

div.btnBlock{
    margin-top: 10px;

    button.edit{
        display: block;
    }
}

