@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: '微軟正黑體';
  line-height: 1.6;
}

button {
  width: 120px;
  height: 30px;
  margin: 0 auto;
  background-color: #306198;
  color: #fff;
  border: 0px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.6;
}

header.container__header {
  position: relative;
  width: 100%;
  height: 300px;
  margin: auto;
  text-align: center;
  border-bottom: solid 1px #dbe0df;
  background: -webkit-gradient(linear, left bottom, left top, from(#dbe0df), to(#306198));
  background: linear-gradient(to top, #dbe0df, #306198 100%);
}

header.container__header .header {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  border: solid 2px #fff;
  padding: 30px 50px;
  letter-spacing: 3px;
  color: #fff;
  width: 60%;
}

header.container__header .header__title {
  font-size: 1.875rem;
}

nav.btnNav {
  padding: 20px;
}

nav.btnNav div.search {
  text-align: end;
}

nav.btnNav div.search i.fa-magnifying-glass {
  padding: 5px;
}

nav.btnNav div.pageFav {
  position: relative;
}

nav.btnNav div.pageFav a.favList {
  position: absolute;
  right: 0;
  top: 50%;
  text-decoration: none;
  text-align: right;
  color: #306198;
}

main.viewpoint {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.col {
  border: 1px solid #adadad;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 3px;
}

figure.viewpointCard {
  width: 400px;
}

figure.viewpointCard figcaption.card-body {
  padding: 10px;
}

figure.viewpointCard figcaption.card-body input {
  width: 16px;
  height: 16px;
}

figure.viewpointCard figcaption.card-body h4.card-title {
  display: inline-block;
  font-size: 1.25rem;
}

.picCard {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

i.fa-location-dot {
  margin-right: 5px;
}

i.fa-magnifying-glass {
  display: inline-block;
}

nav.removeNav {
  padding: 20px;
}

nav.removeNav #btnRemove {
  display: block;
}
/*# sourceMappingURL=style.css.map */