// 基礎設定
@import "./var";
@import "./reset";



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: '微軟正黑體';
    line-height: 1.6;
}

//按鈕
button{
    width: 100px;
    height: 30px;
    margin: 0 auto;
    background-color: #306198;
    color: #fff;
    border: 0px;
    cursor: pointer;
}

header.container__header{
    position: relative;
    width: 100%;
    height: 300px;
    margin: auto;
    text-align: center;
    border-bottom: solid 1px #dbe0df;
    background: linear-gradient(to top, #dbe0df, #4275ab 100%);
    .header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        border: solid 2px #fff;
        padding: 30px 50px;
        letter-spacing: 3px;
        color: #fff;
        width: 60%;
    }
    .header__title {
        font-size: 30px;
        font-weight: 300;
    }
}

nav.btnNav{
    padding: 20px;

    div.search{
        text-align: end;
        i.fa-magnifying-glass{
            padding: 5px;
        }
    }
    a.favList{
        text-decoration:none;
        text-align: right;
    }
}



main.viewpoint{
    border: 3px solid blue;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

section.col{
    border: 1px solid rgb(173, 173, 173);
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 3px;
}

figure.viewpointCard{
    width: 400px;
}

figcaption.card-body{
    padding: 10px;
}

.picCard {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

i.fa-location-dot{
    margin-right: 5px;
}

i.fa-magnifying-glass{
    display: inline-block;
}
